<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ng-template *ngIf="halaman1; then templatetrue; else templatefalse"></ng-template>
    <ng-template *ngIf="halaman2; then halaman2true; else templatefalse"></ng-template>
</body>

<!-- ng-template -->
<ng-template #templatetrue>
    judul: <input type="text" [(ngModel)]="judul_note"><br/> isi: <input type="text" [(ngModel)]="isi_note"><br/> tanggal: <input type="date" [(ngModel)]="tgl_note"><br/>
    <button (click)="inputnote()">Save</button>
    <button (click)="detailnote()">Open Detail</button>
    <br/>
</ng-template>

<ng-template #halaman2true>
    <router-outlet></router-outlet>
</ng-template>

<ng-template #templatefalse></ng-template>

</html>